* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    --theme-color: #98E8CD;
}

body {
    background-color: black;
}

.navbar {
    height: 10dvh;
    background-color: black;
    position: fixed;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

#banner {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    /*Photo by <a href="https://unsplash.com/@wasdrew?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Andras Vas</a> on <a href="https://unsplash.com/photos/macbook-pro-turned-on-Bd7gNnWJBkU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
    background-image: url(./images/banner-background-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#banner h1 {
    font-size: 2.5em;
}

#banner p {
    font-size: 1.5em;
}

.main-theme {
    color: var(--theme-color);
}

.contact {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: black;
    border: 2px solid var(--theme-color);
    margin-top: 30px;
}

.contact:hover {
    cursor: pointer;
    border-color: #b0f4dd;
    font-weight: bold;
}

#about {
    height: 60dvh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#about h2 {
    font-size: 2em;
}

#about p {
    font-size: 1.5em;
}